build-Face_Recognition-Desktop_Qt_5_12_1_MinGW_64_bit-Debug
*pro.user
build-Face_Recognition-Desktop_Qt_5_12_1_MinGW_64_bit-Release
build-Face_Recognition-Desktop_Qt_5_12_1_MSVC2017_32bit-Debug
build-Face_Recognition-Desktop_Qt_5_12_1_MSVC2017_32bit-Release
